@import "mixins";
#intro {
  @include centerer();
  padding: 55px 44px;

  &:before {
    content: "";
    width: 60px;
    height: 30.3px;
    margin-bottom: 25px;
    background-image: url('/assets/images/logo_hsbc.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }
  h1 {
    font-weight: 100;
    font-size: 36px;
    text-align: left;
    color: #344653;
    margin: 0 0 45px 0;
    line-height: 43px;
  }

  .btn {
    &:after {
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(54deg) skew(20deg);
      opacity: 1;
      margin-left: 10px;
      position: relative;
      top: 1px;
    }
  }
}