<div class="container-fluid">
  <div id="intro" class="content-box">
    <h1>Bienvenido a <br />Financial Check Up</h1>
    <a class="btn btn-lg btn-primary" ui-sref="loading">Comencemos</a>
  </div>
</div>