/* You can add global styles to this file, and also import other style files */
@import 'typography';
@import 'content-box';
html, body{
  width: 100%;
  height: 100%;
  & body{
    background-color: #eff1f2;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: 'UniversNextforHSBC';
}