.content-box {
  border-radius: 2px;
  background-color: #ffffff;
  padding: 24px 37px;
  color: #344653;
  margin-bottom: 25px;
  max-width: 100%;

  h2 {
    $margin-bottom: 25px;
    font-weight: 100;
    font-size: 24px;
    text-align: left;
    margin: 0 0 $margin-bottom 0;
    color: #344653;

    &.margin-md {
      margin-bottom: 40px;
    }

    &+.subtitle {
      margin-top: -$margin-bottom;
      font-weight: 300;
      color: #4a4a4a;
      font-size: 14px;
    }
  }

  &.content-box-msg {
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 300;
  }
}